xquery version "3.1";

declare option exist:serialize "method=text media-type=text/plain omit-xml-declaration=yes";

for $item in collection('/db/data/annotations/')//item[@type="object"][//pair[@name="text"]/string(.) = tokenize(request:get-parameter("annoText", "test"), ';')]
where $item//pair[@name = "id"]/string(.) != ""
return
    "[data-annotation-id=" || $item//pair[@name = "id"]/string(.) || "] {
        background-color: rgba(255,0,255,0.3) !important;
    }"