.darkyellow-bg {
    background-color: #f1c40f;
}

.gndId.confirmed {
    background-color: violet;
}
pre {  white-space: pre-wrap; }
#results span {
    margin-right: 16px;
}
#results {
     list-style: outside none none;
}
#results .kolimoId {
    min-width: 6em;
}
#results .author {
    display: inline-block;
    min-width: 12em;
}
#results .title {
    display: inline-block;
    min-width: 12em;
}
#results .date {
    display: inline-block;
    min-width: 3em;
}
#results .gndId {
    display: inline-block;
    min-width: 7.5em;
}
.badge-primary a, .badge-primary a:hover  { color: white; }
.grey {color: gray;}
/* editable dataTables: Gesamtliste */
.makeediticon {
    font-size:larger;
    display:none;
}
#gesamtliste td:hover > .makeediticon {
    display: inline-block;
    line-height:0;
}
.table tfoot > tr > th {
    text-transform: uppercase;
    font-size: 0.875em;
}
/* pwMeter with relative width */
#pwindicator {
  width: 100%;
}
.pwdindicator.pw-very-weak .bar {
  width: 10%;
}
.pwdindicator.pw-weak .bar {
  width: 30%;
}
.pwdindicator.pw-mediocre .bar {
  width: 60%;
}
.pwdindicator.pw-strong .bar {
  width: 90%;
}
.pwdindicator.pw-very-strong .bar {
  width: 100%;
}

/* textview.html */
.pos {
    float: left;
    margin-right: 5px;
}
.stts {
    display: inline-block;
    font-size: 0.8em;
    text-align: center;
    width: 100%;
}
.stts.KOUS {
    border-top: 3px solid blue;
}
.stts.NE {
    border-top: 3px solid red;
}
.stts.NN {
    border-top: 3px solid red;
}
.stts.ART {
    border-top: 3px solid green;
}
.stts.ADV {
    border-top: 3px solid pink;
}
.stts.VVFIN, .stts.VVINF {
    border-top: 3px solid orange;
}
.stts.ADJA{
    border-top: 3px solid lightgreen;
}
.stts.PPER{
    border-top: 3px solid yellow;
}
.stts.APPR {
    border-top: 3px solid grey;
}

.textbox {
    border: 2px solid #3498db;
    display: inline-block;
    margin-right: 10px;
    min-height: 200%;
    padding: 50px;
    margin-bottom: 5px;
}
.textbox:hover {
    border: 8px solid #3498db;
    display: inline-block;
    margin-right: 10px;
    min-height: 200%;
    padding: 44px;
}
.no_underline:hover {text-decoration: none !important;}

.annotator-edit {
    display: none !important;
}

l {
    display: block;
}